.header {
  height: 100px;
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  max-width: 1280px;
  background: 0 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.logo {
  background: url("../images/logo_2x.png") no-repeat;
  height: 30px;
  background-size: contain;
  margin: 5px auto auto 5px;
}
